<div *ngIf="mostrarModal" class="fondo-modal"></div>
<div *ngIf="mostrarModal" class="contenido-modal">
    
    <button type="button" (click) ="cerrarModal()" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
    <div class="row">
        <div class="col-lg-12" *ngIf="tipoModal == 1">
                <img style="max-width:450px;padding-left: 30px;padding: 30px;" class="img-fluid" [src]="imagenModal">
        </div>
        <div class="col-lg-12" *ngIf="tipoModal == 2">
            <div style="min-width:640px;max-width:640px;">
                <h3>{{tituloModal}}</h3>
                <div [innerHTML]="imagenModal"></div>
                <p>{{contenidoModal}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0" id="config">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-7 bg-white">
            <div class="row no-gutters slider-producto">
                <div class="col-12 slider-familia">
                    <div class="autoplay" *ngIf="imagenes">
                        <div class="" *ngFor="let imagen of imagenes">
                            <img src = "{{imagen[1]}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 px-2 px-md-4  py-3 align-self-center">
            <div class="container-fluid p-0 bg-white ventana shadow">
                <div class="row no-gutters px-4">
                    <div class="col-6  mt-3">
                        <a class=" py-2 boton2 text-dark" href="index.php"><img
                                src="../../../assets/img/left-chevron.svg" width="20"> Atrás</a>
                    </div>
                    <div class="col-6 mt-3 text-right">
                        <a data-fancybox data-src="#descargasModal" href="javascript:;"><img
                                src="../../../assets/img/download-fancy.svg" width="30"></a>
                        <a href=""><img src="../../../assets/img/user.svg" class="ml-3" width="30"></a>
                    </div>
                </div>
                <div class="row no-gutters px-4 my-3  align-items-center">
                    <div class="col-md-6 lh10 align-self-center">
                        <h1 class="mb-0 text-dark" *ngIf="nombreFamilia">{{nombreFamilia}}</h1>
                        <span class="mb-2 made-by">by Mario Ruiz</span>
                    </div>
                    <div class="col-md-6 text-md-right align-self-center">
                        <p class="mb-0 precio text-dark" id="valor"><b>{{importeTotal}}€</b></p>
                    </div>
                </div>

                <hr style="margin-left: 0;">

                <div class="row no-gutters px-4 " *ngIf="mostrarPasoAsistente[1]">
                    <div class="col-12">
                        <h4 class="mb-2 cabecera-carta1 text-dark">
                            Composición
                        </h4>

                        <div id="scroll-componentes ventana-comp" class="pr-4" *ngFor="let refFamilia of referenciasFamilia, let i = index">
                            <label class="container-rad">
                                <div [innerHTML]="referenciasFamiliaImg[refFamilia.id]"></div>
                                <i class="fa fa-plus-square-o" aria-hidden="true"
                                    style="color: #b5aa8d;font-size: 25px;"></i>
                                <div class="efecto">
                                    <div class='ctrl'>
                                        <div class='ctrl__button ctrl__button--decrement' (click)="incrDecrSelecc(refFamilia.id,refFamilia.tipo,0,-1)">&ndash;</div>
                                        <div class='ctrl__counter'>
                                            <input class='ctrl__counter-input' maxlength='10' type='text' value='0'>
                                            <div class='ctrl__counter-num'>{{contador[refFamilia.tipo][refFamilia.id]}}</div>
                                        </div>
                                        <div class='ctrl__button ctrl__button--increment' (click)="incrDecrSelecc(refFamilia.id,refFamilia.tipo,0,1)">+</div>
                                    </div>
                                </div>
                            </label>
                            <p class="desc">{{refFamilia.largo}} x {{refFamilia.profundo}} x {{refFamilia.alto}}</p>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters px-4" *ngIf="mostrarPasoAsistente[2] && acabadosSelect && acabadosSelect.length">
                    <div class="col-12">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <h4 class="mb-3 cabecera-carta1 text-dark">Acabados</h4>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-12 columnas" *ngFor="let acabado of acabadosSelect, let i = index">
                                <label class="container-rad" >
                                    <input type="radio" name="acabados" (click)="incrDecrSelecc(acabado.id,2,0)">
                                    <span class="checkmark"></span>
                                    <img class="checkbox2  ml-4" src="{{acabadosImg[acabado]}}"
                                        width="40" height="40">
                                    <p class=" desc">{{acabados[acabado].descripcionEspanol}}</p>
                                    <a href="javascript:;" class="ml-auto pr-3"><img class="eye mx-3" src="../../../assets/img/eye.svg" (click) = "cargarModal(1,'',acabadosImg[acabado])">
                                    </a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                
                <ng-container *ngFor="let tipoReferencia of tiposReferencias, let i = index">
                    
                    <div class="row no-gutters px-4" *ngIf="mostrarPasoAsistente[3][tipoReferencia.id][0] && refRelSelect[tipoReferencia.id] && refRelSelect[tipoReferencia.id].length >0">
                        <div class="col-12">
                            <h4 class="mb-2 cabecera-carta1 text-dark">
                                {{tipoReferencia.nombre}} - idTipo= {{tipoReferencia.id}}
                            </h4>
                            <label class="container-rad" *ngFor="let ref of refRelSelect[tipoReferencia.id], let i = index">
                                <input type="checkbox" (click) = "selectSubTipo(ref.id,ref.tipo)">
                                <span class="checkmark"></span>
                                <p class=" desc ml-3">{{ref.nombre}}</p>
                                <a href="javascript:;"><img class="eye mx-3" src="../../../assets/img/eye.svg" (click) = "cargarModal(2,ref.nombre,referenciasFamiliaImg[ref.id],'contenido')"></a>
                            </label>
                        </div>
                    </div>

                    <div class="row no-gutters px-4" *ngIf="mostrarPasoAsistente[3][tipoReferencia.id][1] && acabadosRelSelect[tipoReferencia.id] && acabadosRelSelect[tipoReferencia.id].length >0">
                        <div class="col-12">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <h4 class="mb-3 cabecera-carta1 text-dark">Acabado</h4>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-12 columnas" *ngFor="let acabadoRel of acabadosRelSelect[tipoReferencia.id], let i = index">
                                    <label class="container-rad" >
                                        <input type="radio" checked="checked" [name]="'acabado_'+tipoReferencia.id" (click) = "selectAcabadoSubTipo(acabadoRel.id,tipoReferencia.id)">
                                        <span class="checkmark"></span>
                                        <img class="checkbox2  ml-4" src="{{acabadosImg[acabadoRel]}}"
                                            width="40" height="40">
                                        <p class=" desc">{{acabados[acabadoRel].descripcionEspanol}}</p>
                                        <a href="javascript:;" class="ml-auto pr-3"><img class="eye mx-3" src="../../../assets/img/eye.svg" (click) = "cargarModal(1,'',acabadosImg[acabadoRel])">
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>

                <div class="row no-gutters mt-4 px-3 py-2 justify-content-end ventana2" style="background-color: #ececeb;">
                    <div class="col-6 text-left align-self-center">
                        <button class="boton" *ngIf="AsistenteActualPrincipal>1" (click)="situacionAsistente(2)" id="atras"><img src="../../../assets/img/return.svg" width="30" style="margin-right: 10px;" (click)="btnAsistente(0)"> Anterior</button>
                    </div>
                    <div class="col-6 text-right align-self-center">
                        <button class="boton" *ngIf="principalSeleccionado == 1" (click)="situacionAsistente(1)" id="siguiente">Siguiente <img src="../../../assets/img/next_arrow.svg" width="30" style="margin-left: 10px;"></button>
                        <button id="finalizar" class="boton" id="" style="display: none;">FINALIZAR</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="display: none;max-width:500px;" id="descargasModal">
    <h2 data-selectable="true">Descargas</h2>
    <div>
        <div class="row">
            <div class="col-md-6  pr-3 ">
                <a href="" class="text-dark descargables">
                    <p><img src="../../../assets/img/download.svg" class="img-fluid mr-3" width="10"> revit</p>
                </a>
                <a href="" class="text-dark descargables">
                    <p><img src="../../../assets/img/download.svg" class="img-fluid mr-3" width="10"> 3D files</p>
                </a>
                <a href="" class="text-dark descargables">
                    <p><img src="../../../assets/img/download.svg" class="img-fluid mr-3" width="10"> 2D files</p>
                </a>
            </div>
            <div class="col-md-6  pr-3 ">
                <a href="" class="text-dark descargables">
                    <p><img src="../../../assets/img/download.svg" class="img-fluid mr-3" width="10"> ficha</p>
                </a>
                <a href="" class="text-dark descargables">
                    <p><img src="../../../assets/img/download.svg" class="img-fluid mr-3" width="10"> fotos HI</p>
                </a>
                <a href="" class="text-dark descargables">
                    <p><img src="../../../assets/img/download.svg" class="img-fluid mr-3" width="10"> fotos LO</p>
                </a>
            </div>
        </div>
    </div>
</div>