@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body {
  
    font-family: 'Crimson Text',Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
}

.slider-producto{
  height: 100%;
}

.autoplay{
  height: 100%;
}

.precio{
  font-size: 28px;
}

.stockholm-animate {
  -webkit-animation: animate-svg-stroke-1 3.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
          animation: animate-svg-stroke-1 3.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

.efecto{
  display: inline-block;
}

.ventana-comp{
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
}
.nuevo-input{
  display: flex;
  align-items: center;
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 630.1127319335938px;
    stroke-dasharray: 630.1127319335938px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

a:hover{
  text-decoration: none;
}

.made-by{
  color: #737169;
}

.img-back{
  max-width: 30px;;
}

.titulo-mob{
  line-height: 28px;
}

.titulo-mob span{
  color: #737169;
  font-size: 15px;
  display: block;
}
  
.home{
  font-family: 'Crimson Text',Helvetica,Arial,"Lucida Grande",sans-serif;
  background-color: #e2ddd0;
} 
  
  
  .hr1 {
    border-top: 2px solid #bbbbbb;
    width: 60%;
    text-align: right;
    margin-right: 0;
    
  }
  
  .fondo{
    background-image: url('../../../assets/material/fotos_ejemplo/Punt_stockholm_01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  
  .fondo2{
    background-image: url('../../../assets/material/fotos_ejemplo/Punt_stockholm_02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  
  .fondo3{
    background-image: url('../../../assets/material/fotos_ejemplo/Stockholm_100.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  
  .fondo4{
    background-image: url('../../../assets/material/fotos_ejemplo/Stockholm_101.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  
  .fondo5{
    background-image: url('../../../assets/material/_Stockholm/STH201A0112575.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  .fondo6{
    background-image: url('../../../assets/material/_Stockholm/STH301A0112575.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  .fondo7{
    background-image: url('../../../assets/material/_Stockholm/STH401A0112575.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  .fondo8{
    background-image: url('../../../assets/material/_Stockholm/STH501A0112575.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }


.slider-familia{
  position: relative;
  height: 100vh;
}
  

  .next{
    position: absolute;
      right: 15px;
      top: 50%;
      cursor: pointer;
  }
  
  .descargables{
    font-size: 20px;
  }
  
  .checkbox{
    height: 60px;
  }
  
  .checkbox2{
    display: inline-block;
    border-radius: 20px;
  }
  
  .boton{
    background: transparent;
    border:none;
    border-radius: 4px;
    transition: 0.3s;
  
  }

  
  .boton:focus{
    border:none;
    outline: none
  }
  
  
  .boton2{
    background-color: transparent;
    border:none;
    border-radius: 4px;
    transition: 0.3s;
  
  }
  

  
  .boton2:focus{
    border:none;
    outline: none
  }
  
  .lh10{
    line-height: 10px;
  }
  
  hr{
    margin-bottom: 1.2rem;
    margin-top: 1.2rem; 
    width: 100%;
    margin-left: 10px;
  }
  
  .ventana{
    border-radius: 10px;
  }
  
  .ventana2{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow{
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.45);
  }
  
  .desc{
    display: inline-block;
    color: #8c8c8c;
    font-size: 14px;
    margin-left: 0.5rem;
    min-width: 100px;
  }

  
  #elementos{
    display: none;
  }
  
  .columnas{
    min-height: 180px;
    column-count: 2;
    column-fill: auto;
  }
  
  /* The container-rad */
  #config .container-rad {
    display: flex;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: flex-start;
    align-items: center;
  }
  
  #index .container-rad {
    display: flex;
    position: relative;
    padding-left: 5px;
  
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container-rad p{
    margin-bottom: 0;
  }
  /* Hide the browser's default radio button */
  .container-rad input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  #paso1   .checkmark,
  #paso1 input {
    display: none;
  }
  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ececeb;
    border-radius: 50%;
    transform: translate(-50%,-50%);
  }
  
  /* On mouse-over, add a grey background color */
  .container-rad:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-rad input:checked ~ .checkmark {
    background-color: #bbb6a9;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-rad input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  /*.container-rad .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }*/
  
  #config #paso6 .checkmark,
  #index #paso6 .checkmark{
    top: 5px;
  }
  
  
  .animacion{
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    height: 0;
    
  }
  
  .animacion2{
    visibility: visible;
    opacity: 1;
  
     -webkit-transition: opacity 800ms, visibility 800ms;
    transition: opacity 800ms, visibility 800ms;
  }
  
  .confi{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
  }
  
  .boton-confi{
    background-color: #000;
    color: #e2ddd0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .boton-confi:hover{
    
    background-color: white;
    color: black;
    
  }
  
  #config #paso1 .container-rad {
    display: flex;
      justify-content: space-between;
      align-items: center;
    
  }
  
  #scroll-componentes::-webkit-scrollbar {
    width: 5px;
  }
  #scroll-componentes::-webkit-scrollbar-track {
    background: #f9f6ec;
  }
  #scroll-componentes::-webkit-scrollbar-thumb {
    background: #e2ddd0;
    
  }
  
  .checkbox.comp-01 {
    height: 60px;
  }
  
  .checkbox.comp-02 {
    height: 65px;
  }
  
  .checkbox.comp-03 {
    height: 72px;
  }
  
  .checkbox.comp-04 {
    height: 80px;
  }
  
  .checkbox.zoc-01 {
    height: 80px;
    padding-right: 0!important;
  }
  
  .container-rad.zoc p {
      margin-bottom: 13px;
      align-self: flex-end;
  }
  
  .advice {
    background-color: #bcbcbc;
    border-radius: 4px;
    padding: 10px;
    line-height: 1.5em;
    font-size: 14px;
  }

  
  .start,
  #atras,
  #siguiente {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #atras,
  #siguiente,
  #finalizar {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .start:hover {
    padding-right: 20px;
  }
  
  #siguiente:hover {
      padding-right: 15px;
  }
  
  #atras:hover {
      padding-left: 15px;
  }
  
  .container-rad .eye {
    width: 24px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #descargasModal {
    max-width: 600px!important;
    width: 350px;
  }
  
  .fancybox-is-open .fancybox-bg {
      opacity: .5!important;
      background: #fff!important;
  }
  
  .fancybox-content {
    border: 1px solid #ccc;
  }
  
  .descargables {
      font-size: 16px;
  }
  
  #index #pasos .fancybox-close-small{
    display: none;
  }
  
  
  
  
  .ctrl {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 5px;
    font-size: 17px;
  }
  .ctrl__counter {
    position: relative;
    width: 60px;
    height: 100px;
    color: #333C48;
    text-align: center;
    overflow: hidden;
  }
  .ctrl__counter.is-input .ctrl__counter-num {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
  }
  .ctrl__counter.is-input .ctrl__counter-input {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
  }
  .ctrl__counter-input {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #333C48;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
  }
  .ctrl__counter-num {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
  }
  .ctrl__counter-num.is-increment-hide {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation: increment-prev 100ms ease-in;
            animation: increment-prev 100ms ease-in;
  }
  .ctrl__counter-num.is-increment-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: increment-next 100ms ease-out;
            animation: increment-next 100ms ease-out;
  }
  .ctrl__counter-num.is-decrement-hide {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-animation: decrement-prev 100ms ease-in;
            animation: decrement-prev 100ms ease-in;
  }
  .ctrl__counter-num.is-decrement-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: decrement-next 100ms ease-out;
            animation: decrement-next 100ms ease-out;
  }
  .ctrl__button {
    width: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #d4cdbb;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
  }
  .ctrl__button:hover {
    background-color: #90a2b0;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
  }
  .ctrl__button:active {
    background-color: #778996;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
  }
  .ctrl__button--decrement {
    border-radius: 5px 0 0 5px;
  }
  .ctrl__button--increment {
    border-radius: 0 5px 5px 0;
  }
  
  @-webkit-keyframes decrement-prev {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes decrement-prev {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes decrement-next {
    from {
      opacity: 0;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
  }
  @keyframes decrement-next {
    from {
      opacity: 0;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
  }
  @-webkit-keyframes increment-prev {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes increment-prev {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes increment-next {
    from {
      opacity: 0;
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
  }
  @keyframes increment-next {
    from {
      opacity: 0;
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
  }
  



  @media only screen
  and (max-width: 1390px) {
  
  
    .checkbox.comp-01 {
      height: 60px;
    }
  
    .checkbox.comp-02 {
      height: 60px;
    }
  
    .checkbox.comp-03 {
      height: 60px;
    }
  
    .checkbox.comp-04 {
      height: 60px;
    }
  }

  @media only screen
  and (max-width: 1024px) {
  
    .columnas{
      column-count: 1;

    }
    #atras,
    #siguiente,
    #finalizar {
      font-size: 12px;
    }
  }


  
  @media only screen
  and (max-width: 767px) {
    #atras,
    #siguiente,
    #finalizar {
      font-size: 13px;
      font-weight: bold;
      margin: 10px 0 0;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  
    .checkbox.comp-01 {
      height: 55px;
    }
  
    .checkbox.comp-02 {
      height: 55px;
    }
  
    .checkbox.comp-03 {
      height: 55px;
    }
  
    .checkbox.comp-04 {
      height: 55px;
    }
  
    .ventana2 {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
  }

  #config #paso1 .container-rad {
    display: block;
    
  }
  
  #index #paso1 .container-rad {
    display: block;
  
  } 
  .checkbox{
    height: 45px;
  }
  .slider-familia{
    height: 75vh;
  }

  }
  @media only screen
  and (max-width: 480px) {
    .slider-familia{
      height: 60vh;
    }

  }

 
  
  @media only screen
  and (max-width: 360px) {
  
  
    .checkbox.comp-01 {
      height: 43px;
    }
  
    .checkbox.comp-02 {
      height: 43px;
    }
  
    .checkbox.comp-03 {
      height: 43px;
    }
  
    .checkbox.comp-04 {
      height: 43px;
    }
    .slider-familia{
      height: 60vh;
    }
  
  .checkbox{
    height: 45px;
  }
  }