<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Volver al listado de articulos">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Volver</span>
            </a>
            <a (click)="saveArticulo()" class="btn btn-primary kt-margin-r-10" color="primary" mat-raised-button
                matTooltip="Save & Continue">
                <span class="kt-hidden-mobile">Guardar</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i>
                    Datos Articulo
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="articuloForm">
                        <form [formGroup]="articuloForm" class="kt-form kt-form--group-seperator-dashed row">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                                (close)="onAlertClose($event)">
                                Oh snap! Change a few things up and try submitting again.
                            </kt-alert>

                            <div class="kt-form__section kt-form__section--first col-12">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Descripcion" formControlName="descripcion" />
                                            <mat-error>Descripcion
                                                <strong>obligatorio</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Venta"
                                                formControlName="venta" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Unidad"
                                                formControlName="unidad" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="SD"
                                                formControlName="sd" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="SR"
                                                formControlName="sr" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Stock"
                                                formControlName="stock" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="IVA"
                                                formControlName="iva" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Coste"
                                                formControlName="coste" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>