<kt-portlet>
    <kt-portlet-header [title]="'Pedidos'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
		</ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <div class="kt-form">
            <div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search pedido" #input (keyup)="applyFilter($event)">
						</mat-form-field>
					</div>
				</div>
            </div>
        </div>

        <div class="mat-table__wrapper">
			<mat-progress-bar mode="indeterminate" *ngIf="!dataSource"></mat-progress-bar>
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear *ngIf="dataSource">

                <ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let pedido"> {{pedido.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let pedido"> {{pedido.fecha}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="idUsuario">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Usuario </mat-header-cell>
                    <mat-cell *matCellDef="let pedido"> {{pedido.idUsuario}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="importeTotal">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Importe Total </mat-header-cell>
                    <mat-cell *matCellDef="let pedido"> {{pedido.importeTotal}} €</mat-cell>
                </ng-container>


                <ng-container matColumnDef="opciones">
					<mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
					<mat-cell *matCellDef="let pedido">
						<button (click)="editPedido(pedido.id)" mat-icon-button color="primary" matTooltip="Editar Pedido">
							<mat-icon>remove_red_eye</mat-icon>
						</button>&nbsp;
						<button mat-icon-button color="warn" matTooltip="Delete pedido" type="button" (click)="deletePedido(pedido.id)">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

        </div>

        <div class="mat-table__bottom">
			<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"></mat-paginator>
		</div>

    </kt-portlet-body>

</kt-portlet>