@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
body {
    font-family: 'Crimson Text',Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
    color: black;
}

a:hover{
  text-decoration: none;
}

.made-by{
  color: #737169;
}

.img-back{
  max-width: 30px;;
}

.titulo-mob{
  line-height: 28px;
}

.titulo-mob span{
  color: #737169;
  font-size: 15px;
  display: block;
}
  
.home{
  font-family: 'Crimson Text',Helvetica,Arial,"Lucida Grande",sans-serif;
  background-color: #e2ddd0;
} 
  
  
.hr1 {
  border-top: 2px solid #bbbbbb;
  width: 60%;
  text-align: right;
  margin-right: 0;
  
}

.fondo{
  //background-image: url('../../../assets/material/fotos_ejemplo/Punt_stockholm_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.fondo2{
  background-image: url('../../../assets/material/fotos_ejemplo/Punt_stockholm_02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.fondo3{
  background-image: url('../../../assets/material/fotos_ejemplo/Stockholm_100.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.fondo4{
  background-image: url('../../../assets/material/fotos_ejemplo/Stockholm_101.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.slider-familia{
  position: relative;
  height: 100vh;
}

hr{
  margin-bottom: 1.2rem;
  margin-top: 1.2rem; 
  width: 100%;
  margin-left: 10px;
}

.advice {
  background-color: #bcbcbc;
  border-radius: 4px;
  padding: 10px;
  line-height: 1.5em;
  font-size: 14px;
  color: #000;
}

.start {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.start:hover {
  padding-right: 20px;
}

.confi{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
}
    
.boton-confi{
  background-color: #000;
  color: #e2ddd0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.boton-confi:hover{
  
  background-color: white;
  color: black;
  
}

@media only screen and (max-width: 767px) {

  #atras,
  #siguiente,
  #finalizar {
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .slider-familia{
    height: 75vh;
  }
}
@media only screen and (max-width: 480px) {

  .slider-familia{
    height: 60vh;
  }
}
  
@media only screen and (max-width: 360px) {

  .slider-familia{
      height: 60vh;
  }
}