<div class="container-fluid p-0 home">
    <div class="row no-gutters">
        <div class="col-md-8 col-lg-9 slider-familia">
            <div class="multiple-items" >
                <div class="fondo" style = "background-image: url('../../../assets/material/fotos_ejemplo/Punt_stockholm_01.jpg')"></div>
                <div class="fondo2" style = "background-image: url('../../../assets/material/fotos_ejemplo/Punt_stockholm_02.jpg');"></div>

            </div>
        </div>
        <div class="col-md-4 col-lg-3 pt-3 px-3 text-right d-none d-md-block">
            <h1 class="text-dark">Stockholm</h1>
            <span class="made-by mb-2" >by Mario Ruiz</span>
            <hr class="hr1">
            <a [routerLink]="['/configurador/STH-MESITA/']">
                <div class="row align-items-center start py-3">
                    <div class="col-2 offset-2 text-right">
                        <img class="img-fluid img-back" src="../../../assets/img/back.svg">
                    </div>
                    <div class="col-8 ">
                        <p class="m-0 text-dark">COMPOSICIONES <br> Y PRECIOS</p>
                    </div>
                </div>
            </a>
            <br>
            <p class="advice">*Para ver el precio y las composiciones te tienes que registrar.</p>
        </div>

        <div class="col-md-2 pt-3 d-block d-md-none">
            <div class="px-3 px-md-0 pl-md-3">
                <h1 class="mb-2 titulo-mob">Stockholm <span>by Mario Ruiz</span></h1>
                <p class="advice">*Para ver el precio y las composiciones te tienes que registrar.</p>
            </div>
        </div>
        <div class="col-md-2 pt-3  d-block d-md-none">
            <div class="row no-gutters mt-3 ">
                <div class="col-12 text-center">
                    <a data-fancybox data-src="#pasos" href="javascript:;" class="confi boton-confi py-3 font-weight-bold" id="">CONFIGURADOR</a>
                </div>
            </div>
        </div>

    </div>
</div>
    