<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Volver al listado de clientes">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Volver</span>
            </a>
            <a (click)="saveCliente()" class="btn btn-primary kt-margin-r-10" color="primary" mat-raised-button
                matTooltip="Save & Continue">
                <span class="kt-hidden-mobile">Guardar</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i>
                    Datos Cliente
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="clienteForm">
                        <form [formGroup]="clienteForm" class="kt-form kt-form--group-seperator-dashed row">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                                (close)="onAlertClose($event)">
                                Oh snap! Change a few things up and try submitting again.
                            </kt-alert>

                            <div class="kt-form__section kt-form__section--first col-12">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="CIF/DNI"
                                                formControlName="CIFDNI" />
                                            <mat-error>CIF/DNI
                                                <strong>obligatorio</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="nombre" formControlName="nombre" />
                                            <mat-error>Nombre
                                                <strong>obligatorio</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Razón social"
                                                formControlName="razonSocial" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Email"
                                                formControlName="email" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Direccion"
                                                formControlName="direccion" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Poblacion"
                                                formControlName="poblacion" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Código posta"
                                                formControlName="codigoPostal" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Provincia"
                                                formControlName="provincia" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Teléfono fijo"
                                                formControlName="telefonoFijo" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Teléfono móvil"
                                                formControlName="telefonoMovil" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Fecha de alta"
                                                formControlName="fechaAlta" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Observaciones</mat-label>
                                            <textarea matInput placeholder="Observaciones" formControlName="observaciones"></textarea>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                        <mat-checkbox formControlName="favorito">Favorito</mat-checkbox>
                                    </div>

                                    
                                </div>
                            </div>

                        </form>
                    </div>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>