/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

body{
	background-color: #003fea40;
}
// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.kt-aside-dark .kt-aside,
.kt-aside-dark .kt-aside-menu,
.kt-brand-dark .kt-aside__brand{
  background-color: #ececec;
}

.kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-dark .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
  color: #000000;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #000000!important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.mat-paginator-page-size {
  padding-left: 20px;
  padding-right: 25px;
}

.position-static {
	position: static;
}
  
.slick-next{
    right: 20px;
  }

  .slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100%!important;
}


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

.slick-slide div{
	height: 100%;
}
.mat-form-field,
.mat-form-field-type-mat-select{
    min-width: 100%!important;
}

.elemento-borrar{
	cursor: pointer;
}


.fondo-modal{ 
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:black;
  opacity: 80%;
  z-index: 9;
}

.contenido-modal{ 
  position: fixed;
  padding: 0;
  margin: 0;
  background-color:#ffffff;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cerrar-modal{
  padding-left: 15px;
  padding-top: 3px;
  font-size: 15px;
  cursor: pointer;
}