<kt-portlet>
    <kt-portlet-header [title]="'Presupuestos'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
			<!-- <button (click)="recargarPresupuestos()" mat-raised-button color="primary" matTooltip="Recargar presupuesto" class="mr-3">Recargar</button> -->
			<button [routerLink]="['../presupuestos/new']" mat-raised-button color="primary" matTooltip="Crear presupuesto">Nuevo presupuesto</button>
		</ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <div class="kt-form">
            <div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search presupuesto" #input (keyup)="applyFilter($event)">
						</mat-form-field>
					</div>
				</div>
            </div>
            
            <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{'show' : selection.selected.length > 0}"><!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
							</label>
							<!-- selectedCountsTitle => function from codeBehind (presupuestos-list.component.ts file) -->
							<!-- selectedCountsTitle => just returns title of selected items count -->
							<!-- for example: Selected records count: 4 -->
						</div>
						<div class="kt-form__control kt-form__group--inline">
							<button (click)="fetchPresupuestos()" mat-raised-button matTooltip="Fetch selected presupuestos"  class="mat-button-mt-4">
								<mat-icon>clear_all</mat-icon>
								Fetch Selected
							</button>
						</div>
					</div>
				</div>
			</div>
        </div>

        <div class="mat-table__wrapper">
			<mat-progress-bar mode="indeterminate" *ngIf="!dataSource"></mat-progress-bar>
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear *ngIf="dataSource">

                <ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let presupuesto"> {{presupuesto.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let presupuesto"> {{presupuesto.fecha}} </mat-cell>
                </ng-container>
				<ng-container matColumnDef="validez">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Validez </mat-header-cell>
                    <mat-cell *matCellDef="let presupuesto"> {{presupuesto.validez}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="cliente">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Cliente </mat-header-cell>
                    <mat-cell *matCellDef="let presupuesto"> {{clientes[presupuesto.cliente].nombre}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="opciones">
					<mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
					<mat-cell *matCellDef="let presupuesto">
						<button (click)="editPresupuesto(presupuesto.id)" mat-icon-button color="primary" matTooltip="Edit presupuesto">
							<mat-icon>create</mat-icon>
						</button>&nbsp;
						<button mat-icon-button color="warn" matTooltip="Delete presupuesto" type="button" (click)="deletePresupuesto(presupuesto.id)">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

        </div>

        <div class="mat-table__bottom">
			<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"></mat-paginator>
		</div>

    </kt-portlet-body>

</kt-portlet>