<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Volver al listado de pedidos">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Volver</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i>
                    Visualizar Pedido
                </ng-template>
                <ng-template matTabContent>
                    <div class="col-lg-12">
                        <p>Fecha  : {{pedido.fecha}}</p>
                        <p>Usuario: {{pedido.idUsuario}}</p>
                        <p>Contenido : {{pedido.seleccion}}</p>
                        <p>Importe Total : {{pedido.importeTotal}}</p>
                    </div>
                    <!--begin::Form-->
                    <!--
                    <div *ngIf="familiaForm">

                    </div>
                    -->
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>